/**

*/

@import "reset", "mixins", "extra";

$Rubrik: "Rubik", sans-serif;

$white: #fff;
$black: #000;
$gray: #9daba9;

$hundredPercent: 100%;

$globalFontSize: 16px;

body {
    background: $white;
    font-family: $Rubrik;
    font-size: $globalFontSize + 2;
    @include Flex(column);

    .app {
        width: $hundredPercent;
        height: $hundredPercent;
        position: absolute;
        @include Flex(column);
        justify-content: center;
        align-items: center;
        align-content: center;

        &-wrapper {
            min-width: 400px;
            @include Flex(column);

            &-element {
                margin: 10px 0;
                @include Flex(column);
                align-items: center;
                align-content: center;
                justify-content: center;

                &-time {
                    font-size: 5 * $globalFontSize;
                    color: rgba($black, 0.6);
                    text-align: center;
                }

                &-date {
                    color: rgba($black, 0.4);
                    margin: 10px 0;
                    text-align: center;
                    font-size: $globalFontSize + 1;
                }

                &-text {
                    width: 100%;
                    min-width: 400px;
                    height: 45px;
                    margin: 20px 0;
                    padding: 0 20px;
                    line-height: 40px;
                    font-size: $globalFontSize;
                    background: rgba($black, 0.7);
                    color: rgba($white, 0.9);
                    outline: 0;
                    border-radius: 22px;
                    border: 0;

                    &::placeholder {
                        color: rgba($white, 0.5);
                    }
                }

                &:nth-child(2) {
                    flex-direction: row;
                }
            }

            .credit {
                position: absolute;
                bottom: 100px;
                text-align: center;
                font-size: $globalFontSize - 1;
            }
        }
    }
}
